Education/Education.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Education/Education.Cmd/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Education/Education.Cmd/bin/Debug/Education.Cmd.exe.config
Education/Education.Cmd/obj/Debug/Education.Cmd.csproj.FileListAbsolute.txt
Education/Education.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Education/Education.Core/obj/Debug/Education.Core.csproj.FileListAbsolute.txt
Education/Education.Core/obj/
Education/Education.Cmd/obj/
Education/Education.Cmd/bin/
